<app-loading *ngIf="loading"></app-loading>

<h2 class="text-center"> SpotiApp </h2>

<hr class="divider">

<div class="card-columns">
    <!-- typeCard album is for Home card -->
    <app-card-spotify [typeCard]="album.type" [album]="album" [artistId]="album.artists[0].id" [imgUrl]="album.images | noImage" [albumName]="album.name" [artiststArr]="album.artists" [albumHref]="album.href" [totalTracks]="album.total_tracks" [releaseDate]="album.release_date"
        [albumId]="album.id" *ngFor="let album of newReleasesList"></app-card-spotify>
</div>