<app-loading *ngIf="loading"></app-loading>

<div class="row m-5" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artistData.images[0].url" class="img-circle img-thumbnail" [alt]="artistData.name">
    </div>
    <div class="col">
        <h3>{{ artistData.name }}</h3>
        <p class="card-text">
            <span class="badge badge-pill badge-dark"> <i class="fas fa-music"> Popularity {{ artistData.popularity }}</i></span>
            <span class="badge badge-pill badge-dark"> <i class="fas fa-users"> Followers {{ artistData.followers.total }}</i></span>

        </p>
        <p class="card-text">
            <a href="artistData.external_urls.spotify" target="_blank">More info of this Artist</a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button class="btn btn-outline-danger" href="" [routerLink]="['search']">Back</button>
    </div>

</div>

<div class="row m-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Album</th>
                <th scope="col">song</th>
                <th scope="col">song preview</th>
            </tr>
        </thead>
        <tbody *ngFor="let track of topTracksList">

            <tr>
                <th scope="row"><img [src]="track.album.images | noImage" class="img-thumb" alt=""></th>
                <td>{{ track.album.name }}</td>
                <td>{{ track.name }}</td>
                <td>
                    <audio [src]="track.preview_url" controls></audio>
                </td>
            </tr>


        </tbody>
    </table>
</div>